if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url="https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc"
  source_hash="yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
  source_path="$(fetchurl "$source_url" "$source_hash")"
  source "$source_path"
fi

watch_file shell.nix
use_flake
